@use '../../Styles/variables' as var;

.headerStyle{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;


    .headerTitleStyle{
        color: var.$primary-color;
    }
}