@use '../../Styles/Variables' as var;
@use '../../Styles/Mixins' as mix;

.footerStyle {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var.$primary-color;
    padding: 1rem;
    box-sizing: border-box;

    .footerListStyle {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem;
    }
    a{
        @include mix.reset-a;
        color: white;
    }
    p{
        color: white;
    }
}